doctype html
html(lang='en')
  head
    title Project Management Tool
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')    
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/style.css')
  body    
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      a.navbar-brand(href='/') Project Management
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/projects') Projects
          li.nav-item
            a.nav-link(href='/projects/add') Add project
        ul.nav.navbar-nav.navbar-right
          li.nav-item
            a.nav-link(href='/users/register') Sign up
          li.nav-item
            a.nav-link(href='/users/login') Sign in
    main.container(role='main')
      div
        != messages('message', locals)
        if errors
          each error in errors
            div(class='alert alert-danger') #{error.msg}
        block content
        br
        hr
        footer
          p Copyright &copy; 2018 by Stephen Sarquah        
    script(src='/bower_components/jquery/dist/jquery.min.js')    
    script(src='/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='/js/main.js')    
