extends layout

block content
  h1 Register user
  form(method='POST', action='/users/register')
    #form-group
      label Name:
      input.form-control(name='name', type='text')
      label E-mail:
      input.form-control(name='email', type='text')
      label Username:
      input.form-control(name='username', type='text')
      label Password:
      input.form-control(name='password', type='password')
      label Confirm password:
      input.form-control(name='password2', type='password')
    input.btn.btn-primary(type='submit', value='Submit')
